@model MyEgitimAkademi.Portfolio.Models.ClientPartner


 <section class="w3l-homeblock3" id="clients">
     <div class="midd-w3 py-5">
         <div class="container py-lg-5 py-md-3">
             <div class="row">
                 <div class="col-lg-6">
                     <span class="text">Müşteri ve Partnerliklerim </span>
                     <h3 class="title-big">
                        @Model.Title

                     </h3>
                     <p class="mt-4">
                       @Model.Title2
                     </p>
                   
                     <div class="reward-list mt-5">
                        
                             <div class="reward-item">
                                 <div class="reward-item-photo">
                                     @Model.ClientCount<span>+</span>
                                 </div>
                                 <div class="reward-item-detail">
                                     <span class="reward-item-title">Toplam Müşteri</span>
                                     <p class="reward-item-descr"> 5'ten fazla ülkede</p>
                                 </div>
                             </div>
                             <div class="reward-item">
                                 <div class="reward-item-photo">
                                     @Model.FeedBackQuality<span>%</span>
                                 </div>
                                 <div class="reward-item-detail">
                                     <span class="reward-item-title">Hızlı Geri Dönüş</span>
                                     <p class="reward-item-descr">Kaliteli Kod</p>
                                 </div>
                             </div>
                             <div class="reward-item">
                                 <div class="reward-item-photo">
                                     @Model.SponsorCount<span>+</span>
                                 </div>
                                 <div class="reward-item-detail">
                                     <span class="reward-item-title">Güvenilir Sponsorluklar</span>
                                     <p class="reward-item-descr">En önemli şirketler</p>
                                 </div>
                             </div>
                       

                         </div>

                     </div>

                 <div class="col-lg-6 align-self text-center mt-lg-0 mt-md-5 mt-4">
                     <div class="images">
                         <img src="~/Templates/iportfolio-starter/assets/images/firma1.png" class="img-fluid" alt="" />
                         <img src="~/Templates/iportfolio-starter/assets/images/firma2.png" class="img-fluid" alt="" />
                         <img src="~/Templates/iportfolio-starter/assets/images/firma3.png" class="img-fluid" alt="" />
                         <img src="~/Templates/iportfolio-starter/assets/images/firma4.png" class="img-fluid" alt="" />
                         <img src="~/Templates/iportfolio-starter/assets/images/firma5.png" class="img-fluid" alt="" />
                         <img src="~/Templates/iportfolio-starter/assets/images/firma6.png" class="img-fluid" alt="" />
                        
                  

                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>


